.toast_container {
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  flex-direction: column;
  font-family: Fira code;
  font-size: 14px;
  color: #F0EFFB;
  padding: 8px;
  z-index: 3;
  -webkit-transform: translate3d(0, 0, 3);
  position: fixed;
  top: 5%;
  width: 30%;
  min-width: 150px;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: .5s;
  overflow: hidden;
}

.hide_toast {
  display: none;
}

#right {
  right: 4%;
  animation: toasting-right 2s normal;
}

#left {
  left: 4%;
  animation: toasting-left 2s normal;
}

.bg_success {
  background-color: #7FB069;
}

.bg_client_error {
  background-color: #FF3C38;
}

.bg_server_error {
  background-color: #FF8C42;
}

.bg_unknown {
  background-color: #76949F;
}

.timer{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}

.timer::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #ddd;
}

@keyframes timer {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes toasting-right {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes toasting-left {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}